<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</head>
<script>
    if( typeof window.ab !== 'undefined' ) {
        new window.ab.connect(
                'ws://{{ notification_server_default_host }}:{{ notification_server_default_port }}/',
                function (session) {
                    session.call('{{ topic_path('notification_topic_list') }}').then(function (result) {
                        console.log(result);
                        var result = $.parseJSON(result);
                        console.log(result['response']);
                        $.each(result['response'], function(index, value) {
                            session.subscribe(value, function(topic, data) {
                                console.log($.parseJSON(data));
                                $.each($.parseJSON(data), function(index, value) {
                                    jQuery('<div/>', {
                                        id: index,
                                        text: value
                                    }).appendTo('#{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::SUBSCRIBER_DATA_CONTAINER') }}');
                                });
                            });
                        });
                    });
                    $('#{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::CONNECTION_CONTAINER') }}').text('{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::MESSAGE_CONNECT_SUCCESS') }}');
                },
                function (code, reason, detail) {
                    $('#{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::CONNECTION_CONTAINER') }}').text('{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::MESSAGE_CONNECT_FAIL') }}')
                },
                {
                    'maxRetries': 60,
                    'retryDelay': 2000
                }
        );
    }

</script>
<body>
<div id="testResultContainer">
    <div id="{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::CONNECTION_CONTAINER') }}"></div>
    <div id="{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::SUBSCRIBER_DATA_CONTAINER') }}"></div>
    <div id="{{ constant('Garant\\ECM\\Bundle\\NotificationBundle\\Tests\\MessageEnum::TOPIC_CONTAINER') }}"></div>
</div>
</body>
</html>